Package: com.bishopfox.iSpy
Name: iSpy
Depends: mobilesubstrate, preferenceloader, applist
Version: 0.0.3
Architecture: iphoneos-arm
Description: The iSpy application assessment framework.
Maintainer: Carl Livitt
Author: Bishop Fox APT Team
Section: Tweaks
