<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>iSpy</title>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/local.css" />
    <link rel="stylesheet" type="text/css" href="/css/ispy.css" />
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore.min.js"></script>
    <script type="text/javascript" src="/js/backbone.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="/css/dark-bootstrap-all.min.css" />
    <link rel="stylesheet" href="/css/slidebars.min.css">
    <link rel="stylesheet" href="/css/slidebars-theme.css">
    
    <!-- The main theme -->
    <script type="text/javascript" src="/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="/js/slidebars.min.js"></script>
    
    <!-- Cycript terminal stuff -->
    <link rel="stylesheet" type="text/css" href="/css/terminal.css">
    <script type="text/javascript" src="/js/terminal-ext.js"></script> 
    <script type="text/javascript" src="/js/terminal-main.js"></script>

</head>

<!-- iSpy Templates -->
<script id="iosapp-index" type="text/template">
    <div class="container">
        <h2>
            <img style="width:64px;height:64px" src="<%= imageURI%>"> <%= CFBundleDisplayName %>
        </h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="bs-example">
                    <div class="list-group">
                            <dl class="dl-horizontal list-group-item">
                                <dt>Application Identifier</dt>
                                <dd><%= CFBundleIdentifier %></dd>
                                <dt>Version</dt>
                                <dd><%= CFBundleVersion %></dd>
                            </dl>
                            <dl class="dl-horizontal list-group-item">
                                <dt>ASLR Offset</dt>
                                <dd>0x<%= parseInt(ASLROffset, 10).toString(16) %></dd>
                            </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-example">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge"><%= classes.length %></span>
                            Number of classes
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.row -->
    </div>
</script>

<script id="classdump-index" type="text/template">
    <div class="container">
        <h2> Class Dump </h2>
        <div class="row">
        foobar
        </div><!-- /.row -->
    </div>
</script>

<script id="cycript-index" type="text/template">
    <div class="container">
        <h1>Cycript Stuff Goes Here</h1>
    </div>
</script>

<script>

$(document).ready(function() {

    /* Initialize the cycript terminal bound to hotkey ctrl-` */
    $("#cycriptWrapperDiv").butterflyTerminal("cycript", "`");
    $("#cycriptWrapperDiv").hideTerminal();

    setTimeout(function() {
        /* Initialize the shell terminal bound to hotkey ctrl-1 */
        $("#shellWrapperDiv").butterflyTerminal("shell", "1");    
        $("#shellWrapperDiv").hideTerminal();
    }, 2000);
    
    // setup the toolbar buttons to show/hide our shells
    $("#btnShell").on("click", function () {
        $("#shellWrapperDiv").toggleTerminal();
    });
    $("#btnCycript").on("click", function () {
        $("#cycriptWrapperDiv").toggleTerminal();
    });


    /* Menu Setup */
    $.slidebars();
    jQuery('ul.nav li.dropdown').hover(function() {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).show();
    }, function() {
        jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).hide();
    });

});
</script>



<body>

    <!-- This is where the Cycript terminal will go. It must have the class "terminalOverlay" attached. -->
    <div id="cycriptWrapperDiv" class="terminalOverlay"></div>
    <div id="shellWrapperDiv" class="terminalOverlay"></div>


    <div class="bf-panel" id="wrapper" style="margin-top: -40px; margin-left: -40px; padding-bottom: 20px;">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand sb-toggle-left" href="#">
                    <i class="fa fa-fw fa-bars"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse ">
                <ul class="nav navbar-nav navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-lg fa-code"></i>
                            &nbsp; Class Browser
                        </a>
                        <ul class="dropdown-menu">
                            <li class="menu-pad"><a href="#"><i class="fa fa-fw fa-cubes fa-pad"></i>Classes</a></li>
                            <li class="menu-pad"><a href="#"><i class="fa fa-fw fa-exchange fa-pad"></i>Protocols</a></li>
                            <li class="menu-pad"><a href="#"><i class="fa fa-fw fa-cube fa-pad"></i>Instances</a></li>
                            <li class="divider"></li>
                            <li class="menu-pad"><a href="#"><i class="fa fa-fw fa-file-code-o fa-pad"></i>Generate Headers</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-user">
                    <!-- <li class="divider-vertical"></li> -->
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-lg fa-share-alt"></i>&nbsp;
                            Call Tracing
                        </a>
                        <ul class="dropdown-menu">
                            <li class="menu-pad"><a href="#" ><i class="fa fa-fw fa-bolt fa-pad"></i>View real-time logs</a></li>
                            <li class="menu-pad"><a href="#" ><i class="fa fa-fw fa-cog fa-pad"></i>Settings</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-user">
                    <li>
                        <a href="#" id="btnCycript"><i class="fa fa-fw fa-keyboard-o fa-lg"></i></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-user">
                    <li>
                        <a href="#" id="btnShell"><i class="fa fa-fw fa-terminal fa-lg"></i></a>
                    </li>
                </ul>

                <!--
                <form class="navbar-form navbar-right" role="search">
                    <a class="btn btn-inverse menuButton" id="btnMsgSendState">
                        <i class="fa fa-fw fa-apple" id="iconMsgSendState"></i>
                    </a>
                    <a class="btn btn-inverse menuButton" id="btnstraceState">
                        <i class="fa fa-fw fa-list" id="iconstraceState"></i>
                    </a>
                    <a class="btn btn-inverse menuButton" id="btninstanceState">
                        <i class="fa fa-fw fa-sitemap" id="iconinstanceState"></i>
                    </a>
                </form>
                <ul class="nav navbar-nav navbar-user navbar-right">
                    <li >
                        <form class="navbar-search">
                            <input type="text" placeholder="Search" class="form-control">
                        </form>
                    </li>
                </ul>
                -->
                <ul class="nav navbar-nav navbar-user navbar-right">
                    <li>
                        <a href="#" ><i id="activity-monitor" class="fa fa-fw fa-eye-slash"></i></a>
                    </li>
                </ul>
            </div>
        </nav><!-- /#nav -->
    </div>
    
    <!-- Main -->
    <div id="sb-site" class="container-fluid fill" style="min-height: 100%;">
        <div id="page-wrapper" class="container animated fadeIn">
        </div><!-- /#page-wrapper -->
    </div><!-- /#sb-site -->

    <!-- Hidden Sidebar -->
    <div class="sb-slidebar sb-left" style="padding-top: 50px;">
        <nav>
            <ul class="sb-menu" >
                <li class="sb-close">
                    <span>
                        <h4 style="padding-left: 10px">
                            <img src="/img/bf-shield.svg" width="28" style="margin-top: -3px" />
                            iSpy
                        </h4>
                    </span>
                </li>
                <li id="" class="sb-close">
                    <a href="#">
                        <i class="fa fa-fw fa-tasks"></i>
                        &nbsp; iOS App
                    </a>
                </li>
                <li id="" class="sb-close">
                    <a href="#classdump">
                        <i class="fa fa-fw fa-list-alt"></i>
                        &nbsp; Class Dump
                    </a>
                </li>
                <li id="" class="sb-close">
                    <a href="#cycript">
                        <i class="fa fa-fw fa-list-alt"></i>
                        &nbsp; Cycript
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>

<!-- iSpy Application Files -->
<script type="text/javascript" src="/js/ispy/namespace.js"></script>
<script type="text/javascript" src="/js/ispy/app.js"></script>

<!-- iSpy Models -->
<script type="text/javascript" src="/js/ispy/models/ios-app.js"></script>

<!-- iSpy Views -->
<script type="text/javascript" src="/js/ispy/views/ios-app-views.js"></script>
<script type="text/javascript" src="/js/ispy/views/classdump-views.js"></script>
<script type="text/javascript" src="/js/ispy/views/cycript-views.js"></script>

<!-- iSpy Router -->
<script type="text/javascript" src="/js/ispy/routers/router.js"></script>


</html>
