.content {
	min-width: 400px;
	min-height: 620px;
	margin-bottom: 100px;
	padding-bottom: 50px;
	padding-left: 10px;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin-left: 177px;
	border-left: 1px solid #dae3e9;
	border-bottom: 1px solid #dae3e9;
	box-shadow: -3px 3px 3px -2px #f1f1f3;
	border-radius: 0px 0px 0px 5px;
}
.content.wide-content {
	margin-left: 0;
	border-radius: 0;
}

/* starts skins changer */
.content .skins-nav {
	opacity: 1;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-ms-transition: right .3s;
	-o-transition: right .3s;
	transition: right .3s;

	position: fixed;
	right: -85px;
	top: 135px;
	font-size: 13px;
	z-index: 9999;
}
.content .skins-nav:hover {
	right: 0;
}
.content .skins-nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-left: 10px;
	height: 37px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	margin-bottom: 3px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.content .skins-nav a.first_nav {
	background: rgba(95, 175, 228, 0.8);
}
.content .skins-nav a.second_nav {
	background: rgba(36, 43, 77, 0.8);
}
.content .skins-nav a.first_nav:hover {
	background: rgba(95, 175, 228, 1);
}
.content .skins-nav a.second_nav:hover {
	background: rgba(36, 43, 77, 1);
}
.content .skins-nav a .icon {
	float: left;
	width: 9px;
	height: 10px;
	background: url('../img/skin-nav-bullets.png') 0 0 no-repeat;
	margin: 15px 15px 0 5px;
}
.content .skins-nav a.selected .icon {
	background-position: 0 -9px;
}
.content .skins-nav a .text {
	padding-right: 12px;
	white-space: nowrap;
	display: block;
	width: 100px;
	position: relative;
	top: 9px;
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-ms-transition: width .2s;
	-o-transition: width .2s;
	transition: width .2s;
}
