@import "/static/DataTables-1.9.4/media/css/demo_page.css";
@import "/static/DataTables-1.9.4/media/css/demo_table.css"; 
@import "/static/DataTables-1.9.4/media/css/jquery.dataTables.css";
@import "/static/DataTables-1.9.4/media/css/demo_table_jui.css";
@import "/static/DataTables-1.9.4/examples/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css";
@import "/static/DataTables-1.9.4/docs/media/css/shCore.css";
/*
tbody tr.even:hover, #iSpyDataTable tbody tr.even td.highlighted {
	background-color: #ECFFff;
}

tbody tr.odd:hover, #iSpyDataTable tbody tr.odd td.highlighted {
	background-color: #E6FFff;
}

tr.even:hover {
	background-color: #ECFFff;
}

tr.even:hover td.sorting_1 {
	background-color: #DDFFff;
}

tr.even:hover td.sorting_2 {
	background-color: #E7FFff;
}

tr.even:hover td.sorting_3 {
	background-color: #E2FFff;
}

tr.odd:hover {
	background-color: #E6FFff;
}

tr.odd:hover td.sorting_1 {
	background-color: #D6FFff;
}

tr.odd:hover td.sorting_2 {
	background-color: #E0FFff;
}

tr.odd:hover td.sorting_3 {
	background-color: #DBFFff;
}
*/