.bf-panel {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
    background-color: #181818;
    margin-top: 10px;
    margin-left: -10px;
}

.fa-pad {
    padding-right: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30px;
}

.menu-pad {
    padding-left: 3px;
    padding-right: 3px;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

html, body {
    height: 100%;
}


.fill {
    min-height: 100%;
    height: 100%;
}

.infoTitle {
  display:inline-block; 
  vertical-align:bottom;
  font-weight: 600;
  font-family: "Open Sans";
  font-size: 24px;
}

.dl-heading {
  background-color: #404040 !important;
}

.logo-hover {
  -webkit-filter: grayscale(100%) !important;
}

.logo-hover:hover {
  -webkit-filter: grayscale(0%) !important;
}

a i {
  color: #bdbdbd;
}

a:hover i {
  color: #E83165;
}

.template-container {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}

ul li a {
    font-color: #bdbdbd;
    font-weight: 400;
}

ul li a:hover {
    background-color: #181818 !important;
    font-color: #E83165;
    font-weight: 400;
}
