html, body {
	background-color: #222222;
}

#sb-site {
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
	padding: 80px 0 30px 0;
}

#adverts {
	margin-top: 20px;
}

.advert {
	border-radius: 3px;
	border: 1px solid #727272;
	margin-bottom: 10px;
	padding: 3px;
}

.navbar {
	box-shadow: /* Shadow beneath the bar and edge highlights. */
		/* Layered single pixel shadows to create a one sided shadow effect. */
		0 5px 0 0 rgba(0, 0, 0, 0.01),
		0 4px 0 0 rgba(0, 0, 0, 0.02),
		0 3px 0 0 rgba(0, 0, 0, 0.04),
		0 2px 0 0 rgba(0, 0, 0, 0.06),
		0 1px 0 0 rgba(0, 0, 0, 0.08),
		/* Top highlight */
		0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Left highlight */
		1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Right highlight */
		-1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
		/* Bottom lowlight */
		0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
		
	/* Glass gradient overlay. */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.05) 50%, rgba(0,0,0, 0.02) 51%); /*  Webkit syntax. */
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, 0.02) 51%); /* Final syntax. */
	background-size: 100%;
	background-repeat: no-repeat;
	
	/* Bootstrap Changes */
	border: none;
	width: 100%;
	left: auto;
	right: auto;
}

.sb-android .navbar {
	position: absolute;
}

#logo {
	margin-top: 4px;
	text-align: center;
}

#top-arrow {
	padding-top: 17px;
	padding-bottom: 13px;
}

.navbar .sb-toggle-left {
	width: 58px;
	float: left;
	padding: 14px;
}

.navbar .sb-toggle-right {
	width: 58px;
	float: right;
	padding: 14px;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.sb-right {
	margin-top: 50px;
}

.navicon-line {
	width: 24px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: #fff;
}

ul.navbar-nav {
	display: none;
}

footer {
	margin-top: 30px;
}

/* Slidebars */

.sb-slidebar {
	background-color: #222222;
}

/* Left */


.sb-menu li .sb-open-right, .sb-menu li small {
	display: inline-block;
	padding: 14px;
}

.sb-menu li img {
	margin: 14px;
}

/* Right */
aside#about-me {
	padding: 14px 14px 14px 14px;
}

img.img-me {
	margin: 14px auto;
	border: 4px solid #fff;
}

/* Slidebar Type */

.sb-slidebar, .sb-slidebar h3 {
	color: #F0F0F0;
}

.sb-slidebar ul.sb-nav li a {
	color: #DEDEDE;
}

.sb-slidebar ul.sb-nav li a:hover {
	color: #C7C7C7;
	text-decoration: none;
}

.sb-slidebar ul.sb-nav li span:hover {
	color: #C7C7C7;
}

/* Anchor Links */
#download, #api, #options, #helper-classes {
	margin-top: -50px;
	padding-top: 50px;
}

/* Helper Classes */
.add-bottom-margin {
	margin-bottom: 15px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-top-margin {
	margin-top: 15px;
}

.no-top-margin {
	margin-top: 0;
}

.push-down {
	position: relative;
	top: 2px;
}

@media (min-width: 768px) {
	ul.navbar-nav {
		display: block;
	}
	
	#logo {
		text-align: left;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}