<h1 class="page-header">
    <i class="fa fa-fw fa-code"></i>
    Class Browser
</h1>
<div class="row">
    <div id="objc-class-list" class="list-group col-md-4">
        <p class="text-center">
            <i class="fa fa-fw fa-refresh fa-spin"></i>
            Loading ...
        </p>
    </div>
    <div id="" class="col-md-8">
    </div>
</div>