<form class="navbar-form animated fadeIn" _lpchecked="1">
    <input id="objc-class-search" type="text" class="form-control" placeholder="Fuzzy Search...">
    <div class="checkbox">
        <label>
            <input type="checkbox"> Case Sensitive
        </label>
    </div>
</form>