<div class="text-center">
    <h4>
        <span class="fa-stack fa-lg">
            <i class="fa fa-search fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>
        No Results
    </h4>
</div>