	<div class="container-fluid">

		<div class="span12">
	        <h1>iSpy</h1>
			<h4 style="font-weight:normal" class="muted">iOS AppSec Assessment Framework</h4>
			<br />
			<!--
				The iSpy logo is an unauthorized mashup of two images found on Google Images.
				The iPad from here: https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/IPad_3.png/220px-IPad_3.png
				The ninja apple from here: http://blog.martincrownover.com/wp-content/uploads/2008/09/apple_ninja.jpg
				We should probably request permission from the content owners to do this.
			-->
		</div>
	</div>

	<div class="container-fluid">

		<div class="span5">
			<img src="/static/images/apple_ninja.jpg" class="img"  />
		</div>

		<div class="span7">
			<dl class="dl-horizontal">
				<dt class="text-error">Analyze</dt>
				<dd>
					<ul>
						<li>Runtime Objective-C class dumps</li>
						<li>Automated detection of common security flaws</li>
						<li>Monitor HTTP network traffic (even SSL traffic)</li>
						<li>Thread-safe Objective-C method tracing</li>
					</ul>
				</dd>
				<dt class="text-error">Interact</dt>
				<dd>
					<ul>
						<li>Easy Objective-C method hooking</li>
						<li>Easy C function hooking</li>
						<li>Inspect and manipulate class instances at runtime</li>
						<li>Cycript integration</li>
					</ul>
				</dd>
				<dt class="text-error">Awesome features</dt>
				<dd>
					<ul>
						<li>Anti-anti-jailbreaking</li>
						<li>Anti-anti-swizzling</li>
						<li>C function hooks: open, stat, read, fork, etc</li>
						<li>Objective-C class hooks: NSURLConnection, etc</li>
						<li>Integrated reporting</li>
						<li>Designed to be easily extensible</li>
					</ul>
				</dd>
			</dl>	
		</div>
	</div>
