<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
<div class="container-fluid" class="animated fadeIn">
	<div class="row-fluid">
		<div class="span12">
			<legend>App Info &nbsp; <i id="spinner" class="fa fa-refresh fa-spin fadeIn animated fa-large"></i></legend>
			<table class="table" style="visibility:hidden" id="infopane">
				<thead>
					<th>Item</th><th>Detail</th>
				</thead>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12" style="visibility: hidden" id="environment">
			<legend>Runtime Environment</legend>
			<table class="table" id="envpane">
				<thead>
					<th>Variable Name</th><th>Value</th>
				</thead>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12" style="visibility: hidden" id="network">
			<legend>Network Information</legend>
			<table class="table" id="netpane">
				<thead>
					<th>Interface</th><th>IP Address</th>
				</thead>
			</table>
		</div>
	</div>
</div>

<script>
	$.getJSON("/api/info", function(data) {
		$.each(data, function(key, val) {
			if(typeof(val) === "object" && key == "environment") {
				arrData = val;
				$.each(arrData, function(k, v) {
					$("#envpane").append("<tr><td width='30%'>" + k + "</td><td>" + v + "</td></tr>\n");
				});
			} else if(typeof(val) === "object" && key == "Network") {
				arrData = val;
				$.each(arrData, function(k, v) {
					$("#netpane").append("<tr><td width='30%'>" + k + "</td><td>" + v + "</td></tr>\n");
				});
			} else { 
				$("#infopane").append("<tr><td width='30%'>" + key + "</td><td>" + val + "</td></tr>\n");
			}

		});
		$('#spinner').css("visibility", "hidden");
		$('#infopane').css("visibility", "visible");
		$('#network').css("visibility", "visible");
		$('#environment').css("visibility", "visible");
	});
	
</script>

