
<style>
.sidebar-nav-fixed {
	padding: 9px 0;
	position: fixed;
	left: 20px;
	top: 60px;
	width: 250px;
	height: 90%;
	overflow: auto;
}
.row-fluid > .span-fixed-sidebar {
	margin-left: 290px;
}

.control-label {
	font-weight: bold;
}
</style>

<!-- content in here -->
<div class="row">
	<div class="col-md-3">
	<div class="std-border std-padding scroll-div well">
		<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Class</th>
			</tr>
		</thead>
		<tbody id="instanceTable"></tbody>
		</table>
	</div>
	</div>

	<div class="col-md-9">
	<div class="std-border std-padding scroll-div well" id="dataPane">
	</div>
</div>

<div class="hide" id="dummy"></div>
<div class="hide"><?prettify?><pre class="hide prettyprint" id="codeSection"></pre></div>

<script>
	setTimeout(function () {
		reloadInstanceList();
	}, 1000);

	function renderInstanceData(addr, className) {
		$.ajax({
			url: "/api/instance/" + addr,
			timeout: 30000,
			dataType: "json"
		}).done(function(instanceData) {
			$("#dataPane").empty();
			var p = $(document.createElement('p'));
			$(p).append("Instance Variables for ");
			$(p).addClass("lead");

			var a = $(document.createElement('a')); 
			$(a).addClass("classContextInfo");
			$(a).attr("data-className", className);
			$(a).html("<em>" + className + "</em>");
			
			$(p).append(a);
			$(p).append(" @ <em>" + addr + "</em>")

			$("#dataPane").append(p);

			$.each(instanceData, function (key, data) {
				$("#codeSection").empty();
				$("#dataPane").append("<b>Name:</b> " + data["name"] + "<br/>\n");
				
				var a = $(document.createElement('a'));
				$(a).addClass("classContextInfo");
				$(a).attr("data-className", data["type"].replace(/\ \*/,""));
				$(a).html(data["type"]);
				$("#dataPane").append("<b>Type:</b> ");
				$("#dataPane").append(a);
				$("#dataPane").append("<br/>\n");

				var value = $("#dummy").text(data["value"]).html();
				var pre = $(document.createElement('pre')); 
				$(pre).addClass("prettyprint");
				$(pre).html(value);
				$("#dataPane").append(pre);
				//$("#dataPane").append("<hr>\n");
			});
			setupContextHelpHandler("bottom"); // show context help underneath the triggering link
		});
	}

	function reloadInstanceList() {
		$.ajax({
			url: "/api/instances",
			timeout: 30000,
			dataType: "json"
		}).done(function(instances) {
			$.each(instances, function (className, ptrAddr) {
				var tr = $(document.createElement('tr')); 
				
				$(tr).attr("data-instanceAddr", ptrAddr);
				$(tr).attr("data-className", className);

				var td = $(document.createElement('td'));
				var a = $(document.createElement('a'));
				$(a).addClass("classContextInfo");
				$(a).attr("data-className", className);
				$(a).html(className);
				$(td).append($(a));
				$(tr).append($(td));
				$(tr).on('click', function (e) {
					console.log(e);
					if(e.target.parentElement.nodeName != 'A') { 
						
					} else {
						className = e.target.parentElement.text;
						className = className.replace(/\ \*/,"").replace(/[\<\>\^]/g, "");
						console.log("Fetching class " + className);
						renderClassInfoIntoPopup(className, that);
						//renderInstanceData($(a).attr("data-instanceAddr"), $(a).html());
						//$("li").removeClass("active");
						//$(li).addClass("active");
					}
				});
				
				/*td = $(document.createElement('td'));
				$(td).html(ptrAddr);
				$(tr).append($(td));
				
				td = $(document.createElement('td'));
				$(td).html("...");
				$(tr).append($(td));
				*/
				
				$("#instanceTable").append($(tr));
			});
		});
	}

</script>