
<style>
.sidebar-nav-fixed {
	padding: 9px 0;
	position: fixed;
	left: 20px;
	top: 60px;
	width: 250px;
	height: 90%;
	overflow: auto;
}
.row-fluid > .span-fixed-sidebar {
	margin-left: 290px;
}

.control-label {
	font-weight: bold;
}

.list-condensed {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
</style>

<!-- content in here -->
<div class="row">
	<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Active Instances</h3>
		</div>
		<!--<div class="bs-example scroll-div"-->
		<div class="scroll-div">
			<div class="list-group" id="instanceGroup">
  			</div> 
		</div>
	</div>
	</div>

	<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Instance Details</h3>
		</div>
		<div class="scroll-div" id="dataPane"></div>
	</div>
</div>

<div class="hide" id="dummy"></div>
<div class="hide"><?prettify?><pre class="hide prettyprint" id="codeSection"></pre></div>

<script>
	setTimeout(function () {
		reloadInstanceList();
	}, 1000);

	function renderInstanceData(addr, className) {
		$.ajax({
			url: "/api/instance/" + addr,
			timeout: 30000,
			dataType: "json"
		}).done(function(instanceData) {
			$("#dataPane").empty();
			var p = $(document.createElement('p'));
			$(p).append("Instance Variables for ");
			$(p).addClass("lead");

			var a = $(document.createElement('a')); 
			$(a).addClass("classContextInfo");
			$(a).attr("data-className", className);
			$(a).html("<em>" + className + "</em>");
			
			$(p).append(a);
			$(p).append(" @ <em>" + addr + "</em>")

			$("#dataPane").append(p);

			$.each(instanceData, function (key, data) {
				$("#codeSection").empty();
				$("#dataPane").append("<b>Name:</b> " + data["name"] + "<br/>\n");
				
				var a = $(document.createElement('a'));
				$(a).addClass("classContextInfo");
				$(a).attr("data-className", data["type"].replace(/\ \*/,""));
				$(a).html(data["type"]);
				$("#dataPane").append("<b>Type:</b> ");
				$("#dataPane").append(a);
				$("#dataPane").append("<br/>\n");

				var value = $("#dummy").text(data["value"]).html();
				var pre = $(document.createElement('pre')); 
				$(pre).addClass("prettyprint");
				$(pre).html(value);
				$("#dataPane").append(pre);
				//$("#dataPane").append("<hr>\n");
			});
			setupContextHelpHandler("bottom"); // show context help underneath the triggering link
		});
	}

	var globalActiveInstanceItem;
	function reloadInstanceList() {
		$.ajax({
			url: "/api/instances",
			timeout: 30000,
			dataType: "json"
		}).done(function(instances) {
			var flag=1;
			$.each(instances, function (className, ptrAddr) {
				var item = $(document.createElement('a'));
				
				$(item).addClass("list-group-item list-group-item-default list-condensed")
				$(item).attr("data-instanceAddr", ptrAddr);
				$(item).attr("data-className", className);
				$(item).attr("id", ptrAddr + "_" + className);
				$(item).attr("href", "#");
				$(item).on("click", function () {
					renderInstanceData(ptrAddr, className);
					if(globalActiveInstanceItem !== undefined)
						$(globalActiveInstanceItem).removeClass("list-group-item-info");
					globalActiveInstanceItem = this;
					$(this).addClass("list-group-item-info");
				});
				$(item).html(className + "<br/><span class='text-muted small'>" + ptrAddr + "</span>");
				$("#instanceGroup").append($(item));
			});
		});
	}

	function refreshClassList() {
		if(searchMode == 0) {			
				// loop through each of the items in the list
				$("#instanceGroup").find("a").each(function() {
					var id = $(this).attr("id");
					var re = new RegExp($("#simpleClassNameField").val(), 'g');
					var match = id.match(re);
					console.log("Match: " + match);
					if(match) {
						$(this).removeClass("hide");
					} else {
						$(this).addClass("hide");
					}
				});
		}
	}

</script>