<div class="container-fluid">
	<div class="row-fluid" class="animated fadeIn">
		<div class="span12">
			<legend>Generic Passwords</legend>
			<table class="table" width="100%">
				<thead>
					<th>Service</th><th>Account</th><th>Create Date</th><th>Modify Date</th><th>Data</th>
				</thead>
				<tbody id="genericpane"></tbody>
			</table>
			<div id="loading1"><img src="/static/images/loading2.gif"> Loading...</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<legend>Internet Passwords</legend>
			<table class="table" width="100%">
				<thead>
					<th>Service</th><th>Account</th><th>Create Date</th><th>Modify Date</th><th>Data</th>
				</thead>
				<tbody id="internetpane"></tbody>
			</table>
			<div id="loading2"><img src="/static/images/loading2.gif"> Loading...</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<legend>Identities</legend>
			<table class="table" width="100%">
				<thead>
					<th>Group</th><th>Account</th><th>Create Date</th><th>Modify Date</th><th>Data</th>
				</thead>
				<tbody id="identitypane"></tbody>
			</table>
			<div id="loading3"><img src="/static/images/loading2.gif"> Loading...</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<legend>Certificates</legend>
			<table class="table" width="100%">
				<thead>
					<th>Service</th><th>Account</th><th>Create Date</th><th>Modify Date</th><th>Data</th>
				</thead>
				<tbody id="certpane"></tbody>
			</table>
			<div id="loading4"><img src="/static/images/loading2.gif"> Loading...</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<legend>Keys</legend>
			<table class="table" width="100%">
				<thead>
					<th>Service</th><th>Account</th><th>Create Date</th><th>Modify Date</th><th>Data</th>
				</thead>
				<tbody id="keypane"></tbody>
			</table>
			<div id="loading5"><img src="/static/images/loading2.gif"> Loading...</div>
		</div>
	</div>	
	<!--
	<div class="row-fluid">
		<div class="span12" style="visibility: hidden" id="network">
			<legend>Network Information</legend>
			<table class="table" id="netpane">
				<thead>
					<th>Interface</th><th>IP Address</th>
				</thead>
			</table>
		</div>
	</div>
	-->
</div>

<script>
	var aslr = 0;
	var offset = 0;
	var aslrOffset = 0;

	$.getJSON("/api/keychain", function(data) {
		$.each(data, function(key, val) {
			if(typeof(val) === "object" && key == "keychain") {
				arrData = val;
				$.each(arrData, function(keychainClassName, keychainClassData) {
					if(keychainClassName == "genp") {
						$.each(keychainClassData, function(genpData) {
							items = [];
							$.each(keychainClassData[genpData], function(item, value) {
								items[item] = value;
							});
							var foo = "<tr><td>" + items['svce'] + "</td>";
							foo += "<td>" + items['acct'] + "</td>";
							foo += "<td>" + items['cdat'] + "</td>";
							foo += "<td>" + items['mdat'] + "</td>";
							foo += "<td>" + items['v_Data'] + "</td>";
							foo += "</tr>\n";
							$("#genericpane").append(foo);	
						});
					}

					else if(keychainClassName == "inet") {
						
					}

					else if(keychainClassName == "idnt") {
						$.each(keychainClassData, function(genpData) {
							items = [];
							$.each(keychainClassData[genpData], function(item, value) {
								items[item] = value;
							});
							var foo = "<tr><td>" + items['agrp'] + "</td>";
							foo += "<td>" + items['acct'] + "</td>";
							foo += "<td>" + items['cdat'] + "</td>";
							foo += "<td>" + items['mdat'] + "</td>";
							foo += "<td>" + items['v_Data'] + "</td>";
							foo += "</tr>\n";
							$("#identitypane").append(foo);	
						});
					}


					
				});
			}
		});



		$('#loading1').css("visibility", "hidden");
		$('#loading2').css("visibility", "hidden");
		$('#loading3').css("visibility", "hidden");
		$('#loading4').css("visibility", "hidden");
		$('#loading5').css("visibility", "hidden");
	});
	

</script>

