<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>iSpy</title>
        
        <meta name="description" content="iOS Hacking Framework">
        <meta name="author" content="haggis, moloch">
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href='/static/dist/css/bootstrap-theme.min.css' rel='stylesheet' />
        <link href="/static/css/animate.css" rel="stylesheet" />
        <link href="/static/css/bishopfox.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <!--[if lt IE 9]>
          <script src="/static/js/libs/html5.js"></script>
        <![endif]-->
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/dist/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body id="iSpyBody">
        {{> menu }}
        <div class="container-fluid">
	{{{ content }}}
        </div>
    </body>
</html>
