<style>
.fa-orange {
	color: #ef4a2b;
}
.fa-green {
	color: #00ff00;
}
</style>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">
					
					<a class="brand" href="/"><img src="/static/images/bf-32x32.png"> iSpy</a>
					<div class="nav-collapse">
						<ul class="nav" id="menuItems">
							<ul class="nav" role="navigation">
								<li class="dropdown">
									<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">App Info <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/">File Browser</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/info">App Summary</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/classdump">Class dump</a></li>
										<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/keychain">Keychain Browser</a></li>-->
										<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/symbols">Symbols / ASLR</a></li>-->
									</ul>
								</li>
							</ul>

							
							<!-- <li><a href="/analyze" class="muted">Analyze</a></li> -->

							<ul class="nav" role="navigation">
								<li class="dropdown">
									<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Monitor <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/generalMonitor">iSpy log</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/straceMonitor">System call log</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/instances">Instance tracking</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="/msgSendMonitor">Objective-C messages</a></li>
										<!--<li role="presentation"><a role="menuitem" class="muted" tabindex="-1" href="/HTTPMonitor">Network traffic</a></li>
										<li role="presentation"><a role="menuitem" class="muted" tabindex="-1" href="/filesystem">Filesystem activity</a></li>
										<li role="presentation" class="divider"></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>-->
									</ul>
								</li>
							</ul>
							

							<ul id="menuBarExtraMenu" class="nav" role="navigation">
								
							</ul>

							<!-- 
							<ul class="nav">
								<li><a href="/reports">Reports</a></li>
								<li><a href="/gadgets">Gadgets</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/help">Help</a></li>
							</ul>
						-->
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li>
							<div class="btn-group">
								<!--  The value in "data-button" is used by iSpy.web.xm when processing POST requests to /api/monitor/status -->
								<a data-iSpyButton="msgSndLogging" class="btn btn-inverse menuButton" id="btnmsgSendState" href="#" data-toggle="tooltip" data-original-title="objc_msgSend logging" data-placement="bottom"><i class="fa fa-apple fa-orange" id="iconmsgSendState"></i></a>

								<a data-iSpyButton="straceLogging" class="btn btn-inverse menuButton" id="btnstraceState" href="#" data-toggle="tooltip" data-original-title="Strace-style logging" data-placement="bottom"><i class="fa fa-list fa-orange" id="iconstraceState"></i></a>

								<!--
								<a data-iSpyButton="httpLogging" class="btn btn-inverse menuButton" id="btnHTTPState" href="#" data-toggle="tooltip"  data-original-title="HTTP(S) logging" data-placement="bottom"><i class="fa fa-globe fa-orange" id="iconHTTPState"></i></a>
								-->

								<a data-iSpyButton="instanceTracking" class="btn btn-inverse menuButton" id="btninstanceState" href="#" data-toggle="tooltip"  data-original-title="Objective-C instance tracking" data-placement="bottom"><i class="fa fa-sitemap fa-orange" id="iconinstanceState"></i></a>
							</div>
						</li>
					</ul>

							<!--
							<ul class="nav pull-right">
								<li class="divider-vertical"></li>
								<li>
									<div class="input-prepend">
										<div class="btn-group">
											<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
											<style>
												#menuBarSearchOptions {
													color: #000000 !important;
													padding: 6pt;
												}
											</style>
											<div class="dropdown-menu" id="menuBarSearchOptions">
											<script>$("#menuBarSearchOptions").removeClass("muted");</script>
												<legend>Search</legend>
												<label class="checkbox">
													<input type="checkbox" value="">
													Class names
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													Instance variables
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													Properties
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													Methods
												</label>
											</div>
											<input class="span2" id="prependedDropdownButton" type="text">
										</div>
									</div>
								</li>
							</ul>
						-->
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<script>
			// initialize the short-cut buttons on the menu bar
			var tmpState;
			
			$('.menuButton').on("click", function (e) {
				if ( ($(this).is('.btn')) && ($(this).is('.active')) )
					tmpState = 0;
				else 
					tmpState = 1;

				var x = $(this).find("i")[0];
				$(x).toggleClass("fa-green");
				$(x).toggleClass("fa-orange");
				$(this).button('toggle');

				// save the change at the back-end
				POSTBody = "item=" + $(this).attr('data-iSpyButton') + '&state=' + tmpState;
				$.post("/api/monitor/status", POSTBody);
			});

			function refreshButtons() {
				// set the button states as required by the current iSpy configuration (i.e. toggle the buttons on/off as needed)
				$.ajax({
					url: "/api/monitor/status",
					timeout: 1000,
					dataType: "json"
				}).done(function (data) {
					$.each(data, function(key, val) {
						if(val == 0 && $("#btn" + key).is(".active") ||
							 val == 1 && ! $("#btn" + key).is(".active")) {
							$("#icon" + key).toggleClass("fa-orange");
							$("#icon" + key).toggleClass("fa-green");
							$("#btn" + key).button('toggle');
						}
					});
				});
			}

			refreshButtons();

			$(document).ready(function () {
					setInterval("refreshButtons()", 2000);
					$("[data-toggle='tooltip']").tooltip();
			});

		</script>
