<style>
.fa-orange {
	color: #ef4a2b;
}
.fa-green {
	color: #00ff00;
}
</style>
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="height:50px">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><img src="/static/images/bf-32x32.png"> iSpy</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">App Info <b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/">File Browser</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/info">App Summary</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/classdump">Class dump</a></li>
								<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/keychain">Keychain Browser</a></li>-->
								<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/symbols">Symbols / ASLR</a></li>-->
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Monitor <b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/generalMonitor">iSpy log</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/straceMonitor">System call log</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/instances">Instance tracking</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/msgSendMonitor">Objective-C messages</a></li>
								<!--<li role="presentation"><a role="menuitem" class="muted" tabindex="-1" href="/HTTPMonitor">Network traffic</a></li>
								<li role="presentation"><a role="menuitem" class="muted" tabindex="-1" href="/filesystem">Filesystem activity</a></li>
								<li role="presentation" class="divider"></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>-->
							</ul>
						</li>
					</ul>
					

					<ul id="menuBarExtraMenu1" class="nav navbar-nav">
					</ul>

					<ul id="menuBarExtraMenu2" class="nav navbar-nav">
					</ul>

					<ul id="menuBarExtraMenu3" class="nav navbar-nav">
					</ul>

					<form class="navbar-form navbar-right" role="search">
						<!--  The value in "data-button" is used by iSpy.web.xm when processing POST requests to /api/monitor/status -->
						<a data-iSpyButton="msgSndLogging" class="btn btn-inverse menuButton" id="btnmsgSendState" href="#" data-toggle="tooltip" data-original-title="objc_msgSend logging" data-placement="bottom"><i class="fa fa-apple fa-orange" id="iconmsgSendState"></i></a>

						<a data-iSpyButton="straceLogging" class="btn btn-inverse menuButton" id="btnstraceState" href="#" data-toggle="tooltip" data-original-title="Strace-style logging" data-placement="bottom"><i class="fa fa-list fa-orange" id="iconstraceState"></i></a>

						<!--
						<a data-iSpyButton="httpLogging" class="btn btn-inverse menuButton" id="btnHTTPState" href="#" data-toggle="tooltip"  data-original-title="HTTP(S) logging" data-placement="bottom"><i class="fa fa-globe fa-orange" id="iconHTTPState"></i></a>
						-->

						<a data-iSpyButton="instanceTracking" class="btn btn-inverse menuButton" id="btninstanceState" href="#" data-toggle="tooltip"  data-original-title="Objective-C instance tracking" data-placement="bottom"><i class="fa fa-sitemap fa-orange" id="iconinstanceState"></i></a>
					</form>
				</div>
			</div>
		</nav>
		<script>
			// initialize the short-cut buttons on the menu bar
			var tmpState;
			
			$('.menuButton').on("click", function (e) {
				if ( ($(this).is('.btn')) && ($(this).is('.active')) )
					tmpState = 0;
				else 
					tmpState = 1;

				var x = $(this).find("i")[0];
				$(x).toggleClass("fa-green");
				$(x).toggleClass("fa-orange");
				$(this).button('toggle');

				// save the change at the back-end
				POSTBody = "item=" + $(this).attr('data-iSpyButton') + '&state=' + tmpState;
				$.post("/api/monitor/status", POSTBody);
			});

			function refreshButtons() {
				// set the button states as required by the current iSpy configuration (i.e. toggle the buttons on/off as needed)
				$.ajax({
					url: "/api/monitor/status",
					timeout: 1000,
					dataType: "json"
				}).done(function (data) {
					$.each(data, function(key, val) {
						if(val == 0 && $("#btn" + key).is(".active") ||
							 val == 1 && ! $("#btn" + key).is(".active")) {
							$("#icon" + key).toggleClass("fa-orange");
							$("#icon" + key).toggleClass("fa-green");
							$("#btn" + key).button('toggle');
						}
					});
				});
			}

			refreshButtons();

			$(document).ready(function () {
					setInterval("refreshButtons()", 2000);
					$("[data-toggle='tooltip']").tooltip();
			});

		</script>
