<!-- Utility buttons at the top of the log window -->
<div class="container-fluid">
	<div class="row" id="spinner">
		<div class="span12">
			<legend>objc_msgSend Monitor &nbsp; <i class="fa fa-spinner fa-spin fa-large"></i></legend>
		</div>
	</div>
	<pre id="objc-messages"></pre>
</div>
<script>
function escapeHtml(value) {
    return $('<div/>').text(value).html();
}

$(document).ready(function() {
	var origin = "ws://" + window.location.hostname + ":31338/";
	console.log("Attempting to connect to: " + origin);

    var msgSendLog = new WebSocket(origin);

    msgSendLog.onopen = function(evt) {
        console.log("Connection successful!");
        msgSendLog.send("Hello");
    };

    msgSendLog.onmessage = function(evt) {
        console.log(evt);
        //var emit = jQuery.parseJSON(evt.data);
        //$('#objc-messages').prepend(escapeHtml(emit));
    };

    msgSendLog.onclose = function(evt) {
        console.log("Lost connection to server");
    };

});
</script>