<script>
	appSelectorState=0;
</script>	
		<div class="container-fluid">
			<div class="row-fluid">
				<!-- Navigation side-bar -->
				<div class="span3 bs-docs-sidebar">
					<ul id="leftNavPane" class="nav nav-list bs-docs-sidenav" style="position:fixed"> <!-- Is "position:fixed" the bootstrappy way of doing things? -->
						<h2>Settings</h2>
						<li><a href="#enabledisable"><i class="icon-ok-circle"></i> Enable/Disable</a></li>
						<li><a href="#appselector"><i class="icon-th-large"></i> App Selection</a></li>
						<li><a href="#logging"><i class="icon-pencil"></i> Logging</a></li>
						<li><a href="#ochooks"><i class="icon-random"></i> Objective-C Hooks</a></li>
						<li><a href="#chooks"><i class="icon-random"></i> C Hooks</a></li>
					</ul>
				</div>
			
				<!-- Main content window -->
				<div class="span9" data-spy="scroll" data-target="#leftNavPane" data-offset="0" class="scrollspy">
					<!-- Enable/Disable -->				
					<section id="enabledisable">
					<form class="form-horizontal">
						<legend>Global Enable / Disable</legend>
						<div class="control-group">
							<label class="control-label" for="optionsRadios1">
								iSpy on<br/>
								<small><span class="muted">Turns on iSpy. It will be injected into the app (if any) selected by you.</span></small>
							</label>
							<div class="controls">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="disabled" checked>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="optionsRadios2">
								iSpy off<br/>
								<small><span class="muted">Turns off iSpy globally. It will not be injected into any running apps.</span></small>
							</label>
							<div class="controls">
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="enabled" checked>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn">Save</button>
							</div>
						</div>
					</form>
					</section>

					<section id="appselector">
					<form class="form-horizontal">
						<legend>App Selection</legend>
						xxx					
					</form>
					</section>

				</div>
			</div>
		</div>
		<script>
		$('#button1').on('click', function (e) {
			$('.btn-primary').attr('disabled','disabled');
		})
		</script>
		
	

