<style>
.sidebar-nav-fixed {
    padding: 0px 0;
    position: fixed;
    left: 20px;
    top: 60px;
    width: 250px;
    height: 90%;
    overflow: scroll;
}
.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}
</style>

<div class="container-fluid" class="animated fadeIn">
	<div class="row-fluid">
		
		<!-- Sidebar goes here -->
		<div class="span3">
			<div class="well sidebar-nav-fixed">
				<ul class="nav nav-list" id="sidebar">
				<li><h4>Active Instances</h4></li><hr>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				<li><a href="#">Item XXXX</a></li>
				

				</ul>
			</div>
		</div>

		<!-- Body goes here -->
		<div class="span9">



		<!-- Global Bootstrap settings
		================================================== -->
		<section id="global">
			<div class="page-header">
			<?prettify?><pre class="prettyprint">
				<h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          </pre>
			</div>
		</section>
		</div>
	</div>
</div>

<script>
prettyPrint();
</script>